body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --desktopBg: #018281;
  --primaryBg: #c0c0c0;
}
.homeScreen {
  position: relative;
  display: flex;
  background-color: var(--desktopBg);
  height: 100vh;
  width: 100vw;
}

.startBar {
  background-color: var(--primaryBg);
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
  height: 5vh;
  position: absolute;
  bottom: 0;
}
.startBtn {
  border: 2px black outset;
  border-top-color: white;
  border-left-color: white;

  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.startBtnIcon {
  height: 80%;
}
.clock {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 2px inset;
  border-bottom-color: whitesmoke;
  border-right-color: whitesmoke;
}

.startMenu {
  position: absolute;
  height: 200px;
  bottom: 5vh;
  background-color: var(--primaryBg);
}
