@font-face {
  font-family: "default";
  src: url("./fonts/w95fa.woff2");
}
* {
  font-family: "default", Times, serif;
}
html {
  height: 100%;
  overflow-y: hidden;
  touch-action: none;
}

body {
  touch-action: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "default", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --desktopBg: #018281;
  --primaryBg: #c0c0c0;
  --secondaryBg: #808080;
  --hoverBlue: #00007c;
  --app-height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.homeScreen {
  position: relative;
  display: flex;
  background-color: var(--desktopBg);
  height: var(--app-height);
  width: 100vw;
}

.desktop {
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 95vh;
}

.startBar {
  background-color: var(--primaryBg);
  border-top: 2px solid whitesmoke;
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
  height: 5vh;
  position: absolute;
  bottom: 0;
  z-index: 50;
}
.startBtn {
  background-color: var(--primaryBg);
  border: 2px black outset;
  border-top-color: white;
  border-left-color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnContentWrapper {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pressed {
  border: 2px inset;
  border-bottom-color: white;
  border-right-color: white;
}
.pressed .btnContentWrapper {
  border: 2px dotted;
  height: 80%;
}
.startBtnIcon {
  height: 80%;
}
.clock {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
  border: 2px inset;
  border-bottom-color: whitesmoke;
  border-right-color: whitesmoke;
}

.startMenu {
  display: flex;
  z-index: 52;
  align-items: flex-end;
  margin-left: 5px;
  position: relative;
  align-self: flex-end;
  height: fit-content;
  width: fit-content;
  padding-right: 0.25rem;
  bottom: 5vh;
  background-color: var(--primaryBg);
  border: 2px outset black;
  border-left-color: whitesmoke;
  border-top-color: whitesmoke;
}
.startMenuText {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  margin: 0;
  left: 0;
  text-align: left;
  writing-mode: vertical-rl;
  height: 100%;
  width: 2.5rem;
  background-color: var(--secondaryBg);
}
.startMenuText h1 {
  margin: 0;
  margin-top: 2rem;
  font-stretch: ultra-expanded;
  font-weight: bolder;
}
.programs {
  width: calc(100% - 2.5rem);
  margin-left: 2.5rem;
}
.program {
  padding: 0.25rem;
  padding-right: 4rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.program:hover {
  background-color: var(--hoverBlue);
  color: white;
}
.program img {
  min-height: 50px;
  min-width: 50px;
  padding-right: 1rem;
}
.shutdown {
  border-top: 2px whitesmoke outset;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.shutdown:hover {
  background-color: var(--hoverBlue);
  color: white;
}
.shutdown img {
  padding-right: 1rem;
  height: 50px;
  width: 50px;
}
.icon {
  color: inherit;
  height: fit-content;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80px;
}
.icon p {
  margin: 0;
}
.icon img {
  width: 70%;
}
.window {
  touch-action: none;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primaryBg);
  height: fit-content;
  width: 50vw;
  position: absolute;
  border: 2px outset black;
  border-top-color: whitesmoke;
  border-left-color: whitesmoke;
  top: 5%;
  left: 9%;
}
.windowNav {
  width: 100%;
  font-size: 20px;
  margin: 2px;
  display: flex;
  justify-content: space-between;
  height: 1.75rem;
  max-width: 100%;
  background-color: var(--secondaryBg);
  color: white;
}
.windowNav p {
  margin: 0;
  padding-left: 0.5rem;
  font-weight: bold;
}
.nameAndIcon {
  margin-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.windowNavBtns {
  display: flex;
  align-items: center;
  margin-right: 2px;
}
.navBtn {
  padding: 0;
  margin: 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  height: 18px;
  width: 18px;
  background-color: var(--primaryBg);
  border-radius: 0;
}
.bioMain {
  padding: 1rem;
  width: 70%;
  height: 400px;
  overflow: scroll;
}
.bioMain * {
  margin: 0;
}
.bioMain h1 {
  margin: 1rem 0rem 1rem 0rem;
  font-size: 30px;
}
.selfie {
  height: 200px;
  border-radius: 350%;
}
.logos {
  padding: 1rem;
  height: 50px;
}
.techLogo {
  height: 50px;
}
.bioTitle {
  margin: 1rem 0 0.5rem 0;
}
.projects {
  touch-action: none;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primaryBg);
  height: fit-content;
  height: 400px;
  width: 40vw;
  position: absolute;
  border: 2px outset black;
  border-top-color: whitesmoke;
  border-left-color: whitesmoke;
  top: 25%;
  left: 25%;
}
.top {
  position: absolute;
  z-index: 100;
}
.top nav {
  background-color: var(--hoverBlue);
}
.projectsBody {
  display: flex;
  flex-wrap: wrap;
  color: black;
  position: relative;
  height: 80%;
  width: 95%;
  background-color: white;
  margin: 1rem;
  border: 2px inset black;
}
.npsProject {
  touch-action: none;
  border: 2px outset black;
  border-top-color: whitesmoke;
  border-left-color: whitesmoke;
  position: absolute;
  top: 25%;
  left: 60%;
  background-color: var(--primaryBg);
  height: fit-content;
  width: 30vw;
}
.screenShot {
  width: 70%;
}
.icons {
  padding-bottom: 2rem;
  margin: 0 auto;
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.fullScreen {
  width: 100%;
  height: 100%;
}
